@model IEnumerable<AcmeCorp.Data.Models.News>

@{
    Layout = "_Layout";
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-route-action="Create" asp-route-controller="News" asp-route="areaRoute">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NewsId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.NewsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
